body {
    position: relative
}

.header {
    margin-bottom: 10px;
    background-image: url("water.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 200px;
    text-align: center;
    color: rgb(255, 0, 0);
	background-color: rgba(255, 255, 255, 0.6);
	
}
.header {
    position: relative;
}

.header h1 {
    text-align: center;
    font-size: 80px;
    color: rgb(0, 0, 255);
    background-color: rgba(255, 255, 255, 0.6);
}

.header h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 255);
    background-color: rgba(255, 255, 255, 0.6);
}

header img {
    width: 20%;
    height: 150px;
}


li {
    margin: 50px;
}

table {
	

	width: 100%;
}

th {
  height: 100px;
}

td {
  height: 100px;
}

table, th, td {
  border: 1px solid blue;
 
}

th {
  text-align: left;
}

#submit {    
    width: 75px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #4294ff;
    color: white;
    font-size: 16px;
}

input {
  background-color: #0000FF; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


/*input:hover
{
	background-image:none;
	background-color:#000000;
}*/

active {
    background-color: rgb(255, 255, 255);

}

footer {
    position: static;
    bottom: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgb(60, 179, 113);
    overflow: auto;
}